<script>
window.MathJax = {
  loader: {
    load: ['[tex]/tagformat']
  },
  output: {
     font: 'mathjax-fira'
  },
  tex: {
    packages: {'[+]': ['tagformat']}
  }
};
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>